<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Peleadores</h4>
                  <p class="card-category">Listado de los peleadores</p>
                  <a class="pull-right" style="color:whitesmoke" href="#">
                  <i class="material-icons">
                      add
                  </i>
                  </a>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Compania</th>
                      <th>Peleadores</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let peleador of peleadores">
                        <td>{{peleador.idPELEADOR}}</td>
                        <td>{{peleador.Nombre}}</td>
                        <td>{{peleador.Compania}}</td>
                        <td>{{peleador.estado}}</td>
                        <td>
                        <a href="#" (click)="selctpeleador(peleador)" class='pull-right'>
                            <i class="material-icons">
                              create
                            </i>
                        </a>
                        </td>
                        <td>                       
                           <a href="" (click)="delete(peleador)" class='pull-right'>
                            <i class="material-icons">
                              delete
                            </i>
                        </a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>


      <div *ngIf="createJ" class="col-md-5">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Agregar peleador</h4>
            <p class="card-category">Complete los siguientes campos</p>
          </div>
          <div class="card-body">
            <form [formGroup]="peleadorCreate"  (ngSubmit)="create()">
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <label class="bmd-label-floating">Nombre</label>
                    <input formControlName="Nombre" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <label class="bmd-label-floating">Compania</label>
                    <input formControlName="Compania" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <button type="submit"  class="btn btn-primary pull-right"  [disabled]="peleadorCreate.invalid">Agregar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      <div  *ngIf="updateJ" class="col-md-5">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Actualizar jugaddor peleador</h4>
            <p class="card-category">Complete los siguientes campos</p>
          </div>
          <div class="card-body">
            <form [formGroup]="peleadorUpdate"  (ngSubmit)="update()">
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <label class="bmd-label-floating">Nombre</label>
                    <input formControlName="Nombre" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <label class="bmd-label-floating">Compania</label>
                    <input formControlName="Compania" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <button  class="btn btn-secondary"  (click)="cancelar()" >Cancelar</button>
              <button type="submit"  class="btn btn-primary pull-right"  [disabled]="peleadorUpdate.invalid">Actualizar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</div>